---
interface Props {
  // Define your props here if needed
}
---

<section class="px-6 min-h-svh py-6 flex flex-col lg:px-8 2xl:items-center 2xl:mx-auto 2xl:container">
    <div class="flex flex-col h-full flex-1 justify-between">
        <div>
            <h2 class="text-4xl tracking-[-0.1rem] leading-none text-pretty mb-4 md:text-5xl xl:text-6xl">We're bringing back what matters most to the community – no more lost connections or creativity to faceless algorithms.</h2>
            <h2 class="text-4xl font-bold font-serif tracking-[-0.225rem] leading-none md:text-5xl xl:text-6xl">Here's our plan:</h2>
        </div>
        <ul class="list-inside text-xl mt-6 font-normal text-pretty lg:text-3xl lg:mt-8 lg:pl-16 xl:text-5xl">
            <li>Personalized discovery – an algorithm that works for you, not against you.</li>
            <li>Intuitive, beautiful interface – <span class="italic font-bold text-(--color-chart-3)">effortless</span> browsing and selling.</li>
            <li>Smarter search & filters – find exactly what you want, <span class="italic font-bold text-(--color-chart-3)">fast.</span></li>
            <li>Truly <span class="italic font-bold text-(--color-chart-3)">free</span> ad posting – no hidden fees, ever.</li>
            <li><span class="italic font-bold text-(--color-chart-3)">Support</span> for creators – special terms and spotlights for artists, tinkerers and artisans.</li>
            <li>Real <span class="italic font-bold text-(--color-chart-3)">social</span> events – flea markets, workshops, and pop-ups.</li>
        </ul>
        <div class="flex flex-col mt-8 lg:mt-16">
            <h2 class="text-4xl tracking-[-0.1rem] leading-none text-pretty mb-4 md:text-5xl xl:text-6xl">And most importantly: </h2>
            <h2 class="text-4xl font-bold font-serif tracking-[-0.225rem] leading-none md:text-5xl xl:text-6xl text-(--color-chart-3)">We'll keep improving-listening, building, and celebrating our community, again and again.</h2>
        </div>
    </div>	
</section>