---
import '../styles/global.css';
// Component Imports
import { Button } from "@/components/ui/button"
import { HeroHeader } from '@/components/header';
import HeroSection from '@/components/hero-section';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Aurora Landing</title>
	</head>

	<body>
		<HeroHeader />
		<HeroSection/>
		<div class="grid place-items-center h-screen content-center">
			<Button>betch</Button>
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		</div>
	</body>
</html>
